<div class="col-md-6 p-5 order-md-last">
    <h2 class="h4 md-5 font-weight-bold">Add course</h2>
    <form method="post">
        <div class="form-group">
            <input type="text" name="type_" id="type_" class="form-control" placeholder="kitchen or online">
        </div>
        <div class="form-group">
            <input type="text" name="title" id="title" class="form-control" placeholder="title">
        </div>
        <div class="form-group">
            <input type="text" name="desc" id="desc" class="form-control" placeholder="desc">
        </div>
        <div class="form-group">
            <input type="text" name="price" id="price" class="form-control" placeholder="price">
        </div>
        <div class="form-group">
            <input type="text" name="image_url" id="image_url" class="form-control" placeholder="img path" value="images/breakfast-1.jpg">
        </div>
        <div class="form-group">
            <input type="submit" value="add" class="btn btn-primary py-3 px-5">
        </div>
    </form>
</div>