body{
    margin: 0;
    background: url(img/back.jpg) repeat;
}


.header {
    background-color: blanchedalmond;
}
.menu{
display: flex;
justify-content: space-around;
padding: 10px;
}
.menu a {
font-size: 30px;
text-decoration:none;
color: #db5e1a;
padding-top: 40px;

}
.menu a:hover{
    color: firebrick;
}
.logo{
    display: flex;
    justify-content: center;
}
.menu img{
    height: 70px;
}
.middle{
display: flex;
    flex-direction: column;
    align-items: center;

}
h1{
    font-size: 48px;
    color: brown;
}
.middle img{
    width: 300px;
    box-shadow: 0 2px 3px 2px rgba(33, 33, 33, 0.35);
    border-radius: 10px;
    transition: 5s;
}
.middle img:hover {
    transform: scale(2);
}
.middle p{
    max-width: 80%;
    line-height: 25px;
    font-size: 18px;
    color: darkred;
}