<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRABS</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
<div class="header">
    <nav class="menu">
            <a href="/">Insulamon palawanense</a>
            <img src="/static/img/logo.png">
            <a href="/second">Macrocheira kaempferi</a>

    </nav>
</div>
<div class="middle">
   <form method="post">
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname" value="John"><br>
      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname" value="Doe"><br><br>
      <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>

