{% extends 'base.html' %}
{% block title %} Professions {% endblock %}

{% block content %}
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{{ static }}images/bg_4.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Stories</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>


<div class="row">
  {% for prof in professions.values() %}
  <div class="col-md-6 col-lg-4 menu-wrap">
    <div class="heading-menu text-center ftco-animate fadeInUp ftco-animated">
      <br/>
      <h3>{{ prof.title }}</h3>
      <span class="price">${{ prof.get_price() }}</span>
      <br/>
    </div>




    {% for course in prof.courses_list %}

				<div class="menus d-flex ftco-animate fadeInUp ftco-animated">
					<div class="menu-img img" style="background-image: url({{ static }}{{ course.img }});"></div>
						<div class="text">
							<div class="d-flex">
								<div class="one-half">
									<h3> {{ course.title }}  </h3>
								</div>
								<div class="one-forth">

								</div>
							</div>
						<p> {{ course.description }}</p>
						</div>
					</div>

    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}